<div class="side">
  <nav class="side_nav">
    <ul>
      <li>
        <%= link_to 'アカウント', users_account_path,
          class: ('active' if current_page?(users_account_path)) %>
      </li>
      <li>
        <%= link_to 'プロフィール', users_profile_path,
          class: ('active' if current_page?(users_profile_path)) %>
      </li>
    </ul>
  </nav>
</div>
