<div class="text-center">
  <div class="card room-card ">
    <%= image_tag @room.image, class: "card-img-top" if @room.image.attached? %>
    <div class="card-body">
      <div class="room-name">
        <%= @room.title %>
        <%= @room.live %>
        <%= @room.content %>
      </div>
      <div class="room-content">

      </div>
      <hr>
      <p class="card-text">
        <div class="room-title">作り方</div>
        <div class="room-text d-flex justify-content-start">
          
        </div>
      </p>
    </div>
  </div>
</div>
